@model IEnumerable<GameLibrary.Models.Game>


@{
    ViewBag.Title = "";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>View Games.</h1>
        @if (@Model.FirstOrDefault() == null)
            { <h2>This user has no games</h2> }
        else 
            { <h2>@Model.FirstOrDefault().UserName</h2> }
    </hgroup>
    @foreach (var item in Model)
    {
        <img class="viewProf" src="@Html.DisplayFor(modelItem => item.ImageURL)">
    }
    <p>
        @if (@Model.FirstOrDefault() == null)
            { <p>Check their profile again when they have added some games.</p> }
        else
            { <p>@Model.FirstOrDefault().UserName currently has @Model.Count() game(s).</p> }
    </p>
</div>

<table>
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="viewProf" src="@Html.DisplayFor(modelItem => item.ImageURL)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.System)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
